__pycache__/
*.py[cod]
.venv*/
venv/
.env
.env.*
*.env
*.local.*
*.secret.*
config.json
jwt_keystore*.p12
data/
build/
dist/
*.egg-info/
.pytest_cache/
.pytest-artifacts/
.coverage
htmlcov/
*.log
.vscode/
.idea/
.DS_Store
frontend/node_modules/
node_modules/
static/js/
